@page
@model IndexModel
@{
    ViewData["Title"] = "Веб-Бібліотека";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var book in Model._viewModel.Books)
{
    <h1>@book.Name</h1>
}
